.amethystlogo
{
	width: 25%;
    height: 25%;
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition: transform 0.5s ease-in-out;
}

.amethystlogo:hover
{
	-webkit-transform: none;
	-o-transform: none;
	-moz-transofrm: none;
	transform: none;
}

.amethystlogorotated
{
	width: 25%;
    height: 25%;
	-webkit-transform: translateY(10%);
	-o-transform: translateY(10%);
	-moz-transofrm: translateY(10%);
	transform: translateY(10%);
	transition: transform 0.5s ease-in-out;
}
