body
{
	padding: 20px;
	background-image: url('../img/black.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: #EEEEEE;
}

pre
{
	color: #EEEEEE;
}

.emoticons
{
	color: #333333;
}

.emoticon
{
    -webkit-filter:invert(100%);
     filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

h1
{
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 2px 2px rgba(100, 100, 100, 0.2);
}

a
{
	color: #EEEEEE;
}