h1
{
	color: rgba(100, 100, 100, 0.75);
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 300%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

h1:hover
{
	color: rgba(100, 100, 100, 0.9);
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 400%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}


@-webkit-keyframes rotate
{
	0%
	{
        color: red;
    }
    16.6%
    {
        color: orange;
    }
    33.3%
    {
        color: yellow;
    }
    50%
    {
        color: lime;
    }
    66.6%
    {
        color: blue;
    }
    83.3%
    {
        color: purple;
    }
    100%
    {
        color: red;
    }
}

@-moz-keyframes rotate
{
	0%
	{
        color: red;
    }
    16.6%
    {
        color: orange;
    }
    33.3%
    {
        color: yellow;
    }
    50%
    {
        color: lime;
    }
    66.6%
    {
        color: blue;
    }
    83.3%
    {
        color: purple;
    }
    100%
    {
        color: red;
    }
}

@keyframes rotate 
{
	0%
	{
        color: red;
    }
    16.6%
    {
        color: orange;
    }
    33.3%
    {
        color: yellow;
    }
    50%
    {
        color: lime;
    }
    66.6%
    {
        color: blue;
    }
    83.3%
    {
        color: purple;
    }
    100%
    {
        color: red;
    }
}

.maintitle
{
	color: rgba(100, 100, 100, 0.75);
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 500%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}

.maintitle:hover
{
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 1000%;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 10s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 10s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h4
{
	color: white;
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 200%;
}

a
{
	color: #323232;
}

#loaded
{
	color: white;
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Open Sans', sans-serif;
	font-size: 500%;
    text-align: center;
  	margin-left: auto;
  	margin-right: auto;
}

.c
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
	color: white;
	text-shadow: 2px 2px rgba(50, 50, 50, 0.2);
	font-family: 'Open Sans', sans-serif;
	font-size: 500%;
    text-align: center;
}

.loading
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.curhover
{
	max-height: 75%;
	max-width: 75%;
   	background: rgba(255, 255, 255, 0.75);
   	position:fixed;
   	top: 10px;
   	right: 10px;
   	padding: 10px;
   	border-radius: 5px;
}

.curhover img
{
	max-width: 75%;
	max-height: 75%;
	height: auto;
}

.emoticons
{
	overflow: hidden;
	line-height: 79px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px;
   	position:fixed;
   	background: rgba(255, 255, 255, 0.75);
   	border-top-left-radius: 50px;
   	border-bottom-left-radius: 50px;
   	border: 2px solid rgba(0, 0, 0, 0.5);
   	width: 60%;
   	top: 10%;
   	right: 10px;
}
.emoticons img
{
	width: 75px;
	height: 75px;
	border: 1px solid black;
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.25);
	display: inline-block;
}
.emoticons .arrow
{
	width: 15px;
	height: 15px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Black_right_angled_triangle_1.png/480px-Black_right_angled_triangle_1.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 2px;
	bottom: 2px;
}
.emoticons .exit
{
	width: 20px;
	height: 20px;
	background-image: url('emoji/arrow-8.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 2px;
	top: 2px;
}
pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}
button
{
	border-style: outset;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.5);
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
button:hover
{
	border-style: outset;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.9);
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
button:active
{
	border-style: outset;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.25);
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
}
input[type="text"]
{
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.25);
	padding: 2px 7px;
}
#log
{
	border-radius: 10px;
	border-style: outset;
	background: rgba(255, 255, 255, 0.25);
}
#log pre
{
	line-height: 52px;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-size: 125%;
	background: none;
	border: none;
}
#log pre img
{
	max-width: 100px;
	height: auto;
}

#channels
{
	border-radius: 10px;
	border-style: inset;
	width: 100%;
}
form
{
	min-width: 200px;
	width: -webkit-calc(100% -20px);
	width: -moz-calc(100% -20px);
	width: calc(100% -20px);
	max-width: 500px;
}
form textarea, form input
{
	width: 100%;
}
.mainfooter
{
	border-top-left-radius: 10px;
	float: left;
	display: inline-block;
	width: 60%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px;
}
.styleswitcher
{
	border-top-right-radius: 10px;
	float: right;
	display: inline-block;
	width: 40%;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 5px;
}
